.popup .content {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-150%) scale(0);
 width: 300px;
 height: 450px;
 z-index: 1;
 text-align: center;
 padding: 20px;
 border-radius: 20px;
 background: #8C4C17;
 box-shadow:  38px 38px 56px #6A2B05, 
             -25px -25px 38px #6A2B05;
 z-index: 1001;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

.popup .close-btn {
 position: absolute;
 right: 20px;
 top: 20px;
 width: 30px;
 height: 30px;
 color: white;
 font-size: 30px;
 border-radius: 50%;
 padding: 2px 5px 7px 5px;
 background: #A56021;
 box-shadow:  5px 5px 15px #6A2B05, 
             -5px -5px 15px #6A2B05;
 cursor: pointer;
 }

.popup.active .content {
transition: all 300ms ease-in-out;
transform: translate(-50%,-50%) scale(1);
}

.input-field .validate {
padding: 20px;
font-size: 16px;
border-radius: 10px;
border: none;
margin-bottom: 15px;
color: white;
background: #A56021;
box-shadow: inset 5px 5px 5px #753B07, 
            inset -5px -5px 5px #753B07;
outline: none;
}

.first-button {
color: white;
font-size: 18px;
font-weight: 500;
padding: 30px 50px;
border-radius: 40px;
border: none;
position: absolute;
top: 50%;
left: 20%;
transform: translate(-50%, -50%);
background: #A56021;
box-shadow:  18px 18px 25px #6A2B05, 
             -15px -15px 25px #6A2B05;
transition: box-shadow .35s ease !important;
outline: none;
}

.first-button:active {  
background: linear-gradient(145deg, #222222, #292929);
box-shadow:  5px 5px 10px #A56021, 
             -5px -5px 10px #A56021;
border: none;
}

.second-button {
color: #F99134;
font-size: 18px;
font-weight: 500;
margin-top: 20px;
padding: 20px 30px;
border-radius: 40px;
border: none;
background: #A56021;
box-shadow:  8px 8px 15px #6A2B05, 
             -8px -8px 15px #753B07;
transition: box-shadow .35s ease !important;
outline: none;
cursor: pointer;
}

.second-button:active{
background: linear-gradient(145deg,#6A2B05, #6A2B05);
box-shadow: 5px 5px 10px #6A2B05, -5px -5px 10px #6A2B05;
border: none;
outline: none;
}

p{
color: #3E1404;
padding: 20px;
}