body{
    font-family: 'Crete Round', serif !important;
    background-color: #BB6B24 !important;
}


/* NAV BAR CSS*********************************** */
.navbar{
    background-color: #6A2B05;
    outline: black solid 0.1rem;
}

.form-control{
    background-color: #F99134 !important;
    color: #3E1404  !important;
    border: 1px solid #8C4C17 !important;
    border-radius: 2rem !important;
}
    
.form-control:focus,
.form-control:active{
    box-shadow:none !important;
    outline:0px !important;
}

.img-logo{
    margin: 0 1rem;
}

.nav-btn{
   text-align: center ;
}
.nav-item{
    margin: 0 0.5rem;
}

.nav-link{
    border-radius: 1rem;
    transition: none !important;
    background-color: #3E1404;
    color:#F99134 !important;
    width: 8rem !important;
    padding: 0.3rem  1rem !important;
}


.user-logo{
    color:#F99134;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.navbar-brand{
    font-size: 2rem !important;
    color:#F99134 !important;
    font-style: italic;
    text-shadow: 3px 4px 0px #000000;
    font-weight: 400;
}


@media only screen and (max-width: 1200px){
    .nav-item{
        margin: 0.5rem 0rem;
    }
    .navbar-nav{
        flex-direction: 0 !important;
        align-items: center;
    }
    .search1{
        margin: 0 2rem;
    }
}




/* NAV BAR CSS END */


/* Carouse***********************************l */

.big-area{
    background-color: #6A2B05;
    padding-top: 3rem;
}

/* .carousel-inner{
    overflow-y: hidden;
} */



.carousel-caption{
    color: white;
    background-color: #3E1404;
}


/* End of carousel */



.manga-area{
    margin-top: 5rem;
}

.manga{
    text-align: center;
    margin-bottom: 2rem;
}
.manga > img{
    max-height: 20rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem #3E1404;
}

.manga > img:hover{
    box-shadow: 0.5rem 0.5rem #F99134;
    
    transition: box-shadow  0.5s;
}


.manga > h5{
    color: white;
    background-color: black;

    margin-top: 1rem;

    border-radius: 0.5rem ;
}
