body{
    font-family: 'Crete Round', serif !important;
    background-color: #BB6B24 !important;
}


/* NAV BAR CSS*********************************** */
.navbar{
    background-color: #6A2B05;
    outline: black solid 0.1rem;
}

.form-control{
    background-color: #F99134 !important;
    color: #3E1404  !important;
    border: 1px solid #8C4C17 !important;
    border-radius: 2rem !important;
}
    
.form-control:focus,
.form-control:active{
    box-shadow:none !important;
    outline:0px !important;
}

.img-logo{
    margin: 0 1rem;
}

.nav-btn{
   text-align: center ;
}
.nav-item{
    margin: 0 0.5rem;
}

.nav-link{
    border-radius: 1rem;
    transition: none !important;
    background-color: #3E1404;
    color:#F99134 !important;
    width: 8rem !important;
    padding: 0.3rem  1rem !important;
}


.user-logo{
    color:#F99134;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.navbar-brand{
    font-size: 2rem !important;
    color:#F99134 !important;
    font-style: italic;
    text-shadow: 3px 4px 0px #000000;
    font-weight: 400;
}


@media only screen and (max-width: 1200px){
    .nav-item{
        margin: 0.5rem 0rem;
    }
    .navbar-nav{
        flex-direction: 0 !important;
        align-items: center;
    }
    .search1{
        margin: 0 2rem;
    }
}


.manga-title-home{
    text-decoration: none;
}

/* NAV BAR CSS END */


/* Carouse***********************************l */

.big-area{
    background-color: #6A2B05;
    padding-top: 3rem;
}

/* .carousel-inner{
    overflow-y: hidden;
} */



.carousel-caption{
    color: white;
    background-color: #3E1404;
}


/* End of carousel */



.manga-area{
    margin-top: 5rem;
}

.manga{
    text-align: center;
    margin-bottom: 2rem;
}
.manga > img{
    max-height: 20rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem #3E1404;
}

.manga > img:hover{
    box-shadow: 0.5rem 0.5rem #F99134;
    
    transition: box-shadow  0.5s;
}


.manga > h5{
    color: white;
    background-color: black;

    margin-top: 1rem;

    border-radius: 0.5rem ;
}



/* BACK TO TOP button */
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 0.5rem;
    background: #3E1404;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
    padding: 0.5rem 1rem;
}

.hidden {
    opacity: 0%;
  }

.back-to-top-icon {
    font-size: 2rem;
    color: #BB6B24;
}

.back-to-top:hover {
    opacity: 60%;
}

.progress-bar {
    height: 0.8rem;
    border-radius: 0.3rem;
    background-color: #BB6B24 !important;
    border: solid #3E1404;
    position: fixed;
    top: 0;
    left: 0;
  }


/* MANGA READER AREA----------------------------------------- */

.manga-nav{
    justify-content: space-between;
    display: flex;
    padding: 0rem 5rem;
}



.icon-nav{
    color: #F99134 !important;
}

.text-manga-nav{
    text-decoration: none;
    color: #F99134;
    padding: 1rem;
}

.text-manga-nav:hover{
    color: #3E1404;
}


.manga-title-area{
    align-items: center;
    text-align: center;
}
.manga-title{
    margin-bottom: 0rem;
    font-size: 4rem;
    color: #F99134;
}

.manga-chapter{
    color:  #3E1404;
    font-weight: bold;
}

.manga-container{
    background-color: #3E1404;
    margin: 1rem 2rem;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem
}

.manga-img{
    width: 70%;
    margin: 1rem 0rem;
}

.footer{
    padding: 5rem;
}



 /* MANGA INFO AREA------------------------------ */


.manga-cover-area{
    display: flex;
    align-content: center;
    justify-content: center;
}

 .manga-cover{
    width: 70%;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem #3E1404;
 }


 .manga-info-p{
    color: #8C4C17 !important;
    background-color: #F99134;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 3rem;
 }
 
 .col-md-12{
    margin-bottom: 3rem;
 }

 .manga-title{
    padding: 1rem 0rem;
 }

.cat-spec{
    display: inline-block;
    background-color: #3E1404;
    border-radius: 0.5rem;
    padding: 0.3rem;
}


.cat-title{
    color: #F99134;
}

.cat-spec-text{
    text-decoration: none;
    color: #BB6B24;
}

.cat-spec-text:hover{
    text-decoration: none;
    color: #BB6B24;
}





 .chapter-list-area{
     background-color: #3E1404;
     padding: 2rem 0.5rem;
     border-radius: 0.5rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
 }

 .chapter-title{
     margin-left: 2rem;
     color: #F99134;
 }

 .chapter-line{
     background-color: #8C4C17;
     padding: 0.5rem 2rem;
     margin: 0.5rem 0rem;
 }

 .chapter-num{
     text-decoration: none;
     color: #F99134;
 }
 .chapter-num:hover{
    color: #3E1404;
}

.list-area{
    overflow-y: scroll;
    height: 20rem;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6A2B05;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F99134;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8C4C17;
  }

  

 /* FOR PROFILE */

  .fa-solid:hover
  {
    background-color: #fdfcf3;
    border-radius: 50%;
  }

  .profile_dropdown
  {
    position: absolute;
    padding: 0px 10px 0px 5px;
    background-color: #6A2B05;
    margin-left: -3%;
    z-index: 100;
    border-color: #3E1404;
    border-style: solid;
    border-radius: 10%;
    overflow-x: hidden;
    
  }

  .profile_dropdown a {
    padding: 2px 2px 2px 5px;
    text-decoration: none;
    font-size: 100%;
    color: #F99134;
    display: block;
    transition: 0.3s;
    margin-left: 5px;
  }

  .profile_dropdown .closebtn {
    top: -15px;
    position: relative;
    font-size: 36px;
    margin-left: -5%;
    padding-left: 5px;
  }

  .profile_dropdown .login, .profile_dropdown .signup{
    position: relative;
    top: -25px;
    margin-left: 10px;
  }

